In [29]:
import os
from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
import pandas as pd
import json

In [8]:
'''
test
'''

'\ntest\n'

In [31]:
# conf = SparkConf() \
#     .setAppName("TgTest")\
#     .config("spark.driver.extraJavaOptions",
#     "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED",)
# sc= SparkContext.getOrCreate(conf=conf)
spark = SparkSession.builder.appName('Test').\
    config("spark.driver.extraJavaOptions",
    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED")\
    .getOrCreate()

## Get the table
professionals_df = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3032/migrasi") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "merger_loc_emis_siaga") \
    .option("user", "root").option("password", "AE72tHgFbFG09mDj").load()
    
print(professionals_df)

DataFrame[Column1: int, cprov: int, cdist: int, kabupaten: string, city_id_emis: int, city: string, province_id: int, nama_provinsi: string, provinsi_induk_id: int, kabupaten_induk_id: int]

In [33]:
spark.stop()

In [34]:
spark.stop()

In [35]:
show_all_table = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3032/migrasi") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "(SELECT table_name FROM information_schema.tables) as tbl") \
    .option("user", "root").option("password", "AE72tHgFbFG09mDj").load()

In [ ]:
show_all_table.show()

In [ ]:
show_all_table.show()

In [24]:
professionals_df.schema.fields

[StructField(Column1,IntegerType,true),
 StructField(cprov,IntegerType,true),
 StructField(cdist,IntegerType,true),
 StructField(kabupaten,StringType,true),
 StructField(city_id_emis,IntegerType,true),
 StructField(city,StringType,true),
 StructField(province_id,IntegerType,true),
 StructField(nama_provinsi,StringType,true),
 StructField(provinsi_induk_id,IntegerType,true),
 StructField(kabupaten_induk_id,IntegerType,true)]

In [9]:
json.loads(professionals_df.schema.json())['fields']

[{'metadata': {'scale': 0},
  'name': 'Column1',
  'nullable': True,
  'type': 'integer'},
 {'metadata': {'scale': 0},
  'name': 'cprov',
  'nullable': True,
  'type': 'integer'},
 {'metadata': {'scale': 0},
  'name': 'cdist',
  'nullable': True,
  'type': 'integer'},
 {'metadata': {'scale': 0},
  'name': 'kabupaten',
  'nullable': True,
  'type': 'string'},
 {'metadata': {'scale': 0},
  'name': 'city_id_emis',
  'nullable': True,
  'type': 'integer'},
 {'metadata': {'scale': 0},
  'name': 'city',
  'nullable': True,
  'type': 'string'},
 {'metadata': {'scale': 0},
  'name': 'province_id',
  'nullable': True,
  'type': 'integer'},
 {'metadata': {'scale': 0},
  'name': 'nama_provinsi',
  'nullable': True,
  'type': 'string'},
 {'metadata': {'scale': 0},
  'name': 'provinsi_induk_id',
  'nullable': True,
  'type': 'integer'},
 {'metadata': {'scale': 0},
  'name': 'kabupaten_induk_id',
  'nullable': True,
  'type': 'integer'}]

In [12]:
def saveSchema(spark_df,tablename):
    fields_list = json.loads(spark_df.schema.json())['fields']
    jsonSchema = {}
    tablename = tablename
    
    for i in fields_list:
        i.pop('metadata')
            
    jsonSchema = {}
    for i in fields_list
    
    return fields_list

In [23]:
def dbInput(dbName,db,tablename,ip,username,password,port,spark_session,
    url = None,driver = None):
    
    
    dbNameDict = {'mysql':{"driver":"com.mysql.jdbc.Driver",'url':'jdbc:mysql://{ip}:{port}/{db}'.format(ip=ip,port=port,db=db)}}
    
    if dbName in dbNameDict:
        driver = dbNameDict[dbName]['driver']
        url = dbNameDict[dbName]['url']
    else:
        if driver == None or url == None:
            raise ValueError('driver class or url for custom jdbc is not defined') 
            
    print(driver)
    print(url)
    
    spark_input_df = spark_session.read.format("jdbc").option("url", url) \
                     .option("driver", driver).option("dbtable", tablename) \
                     .option("user", username).option("password",password).load()
                     
    df_schema = json.loads(spark_input_df.schema.json())['fields']
    
    for i in df_schema:
        i.pop('metadata')
                     
    return spark_input_df, df_schema

In [9]:
test_df,test_schema = dbInput('aa','migrasi','merger_loc_emis_siaga','localhost','root','AE72tHgFbFG09mDj','3032')

ValueError: driver class or url for custom jdbc is not defined

In [28]:
test_df,test_schema = dbInput('mysql','migrasi','m_dosen','localhost','root','AE72tHgFbFG09mDj','3032',spark_session=spark)

com.mysql.jdbc.Driver
jdbc:mysql://localhost:3032/migrasi

In [27]:
spark.stop()

In [6]:
test_schema

[{'name': 'Column1', 'nullable': True, 'type': 'integer'},
 {'name': 'cprov', 'nullable': True, 'type': 'integer'},
 {'name': 'cdist', 'nullable': True, 'type': 'integer'},
 {'name': 'kabupaten', 'nullable': True, 'type': 'string'},
 {'name': 'city_id_emis', 'nullable': True, 'type': 'integer'},
 {'name': 'city', 'nullable': True, 'type': 'string'},
 {'name': 'province_id', 'nullable': True, 'type': 'integer'},
 {'name': 'nama_provinsi', 'nullable': True, 'type': 'string'},
 {'name': 'provinsi_induk_id', 'nullable': True, 'type': 'integer'},
 {'name': 'kabupaten_induk_id', 'nullable': True, 'type': 'integer'}]

In [36]:
import numpy as np

In [53]:
a = np.array([1,2,3,4,5,6])

a[np.logical_and(a >2, a < 5)]

array([3, 4])

In [54]:
x = np.arange(10)
distr = [0.3, 0.5, 0.2]
bins = np.histogram_bin_edges(x, len(distr))

SyntaxError: illegal target for annotation (803610268.py, line 1)